<h1>Dashboard</h1>

<%= form_for @shout do |form| %>
    <%= form.text_field :body, placeholder: "shout here", required: true %>
    <%= form.submit %>
<% end %>


<% @shouts.each do |shout| %>
  <p>
    <b><%= shout.body %></b>
    <%= shout.created_at %>
  </p>
  <hr/>
<% end %>
